button {
  width: 40px;
  height: 40px;
  font-size: large;
  background-color: #38a1db;
  color: #fff;
  border: none;
  border-radius: 50%;
}

button:hover {
  background-color: #a0d8ef;
  color: #fff;
  cursor: pointer;
}

.clear-btn {
  width: 50%;
  height: 38px;
  border-radius: 15px;
}

.tax-btn {
  width: 50%;
  height: 35px;
  border-radius: 14px;
  font-size: 16px;
}
